body{
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        grid-template-rows: 180px auto 180px ;
        grid-template-columns: 1fr 4fr;
}
@media only screen and(max-width: 450px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: 180px 500px 180px;
        grid-template-columns: auto; 
    }
}
@media only screen and(max-width: 850px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        grid-template-rows: 180px 90px 500px 180px;
        grid-template-columns: auto;
    }
}
.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    border: yellow 2px solid;
    background-color: rgb(47, 165, 47);
    width: 400px;
    height: 550px;
    border-radius: 50px;
}
.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-prod{
    width: 380px;
}
.header{
    grid-area: header;
    background-color: blue;
}
.main{
    grid-area: main;
    background-color: darkgreen;
}
.aside{
    grid-area: aside;
    background-color: firebrick;
}
.footer{
    grid-area: footer;
    background-color: dimgray;
}